.phoneNumberPR {
  position: absolute;
  width: 151px;
  height: 21px;
  left: 111px;
  top: 158px;

  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  /* off black */

  color: #1a1a1a;
}
