.nextToExperience {
  display: flex;
  flex-direction: row;

  align-items: center;

  position: absolute;
  width: 151px;
  height: 48px;
  top: 967px;
  left: 797px;

  background: #6b40e3;
  border-radius: 4px;
  border-color: #6b40e3;
}

.nextToExperience span {
  width: 81px;
  height: 20px;

  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  padding-left: 30px;
  letter-spacing: 0.08em;
  color: #ffffff;

  flex: none;
  order: 0;
  flex-grow: 0;
}
