.backToPreviousPage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  width: 113px;
  height: 48px;
  left: 150px;
  top: 967px;

  background: #6b40e3;
  border-radius: 4px;
  border-color: #6b40e3;
}

.backToPreviousPage span {
  width: 43px;
  height: 20px;

  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  padding-left: 29px;

  letter-spacing: 0.08em;

  color: #ffffff;

  flex: none;
  order: 0;
  flex-grow: 0;
}
